<div class="container">
  <div class="userInfo">
    <p>Name: {{name}}</p>
    <p>Last: Name {{lastName}}</p>
    <p>Age: {{age}}</p>
    <p>Job: {{job}}</p>
    <p>Company: {{company}}</p>
    <button (click) = "edit()">Edit</button>
  </div>
  <div class="editBox" *ngIf = "editGo">
    <div class="box">
      <p>Name</p><input type="text" [(ngModel)] = "name">
    </div>
    <div class="box">
      <p>Last Name</p><input type="text" [(ngModel)] = "lastName">
    </div>
    <div class="box">
      <p>Age</p><input type="text" [(ngModel)] = "age">
    </div>
    <div class="box">
      <p>Job</p><input type="text" [(ngModel)] = "job">
    </div>
    <div class="box">
      <p>Company</p><input type="text" [(ngModel)] = "company">
    </div>
    
    <button (click) = "edit()">Close</button>
  </div>
</div>
